{% include 'navigation.html' %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<h2>About Us</h2>
<p>Welcome to our clinic! We are dedicated to providing the best care for our patients.</p>
<p>Our team of experienced professionals is here to help you with all your healthcare needs.</p>
<p>We offer a wide range of services, including general check-ups, specialized treatments, and preventive care.</p>
<p>Our mission is to ensure that every patient receives personalized attention and the highest quality of care.</p>
<p>Feel free to contact us or visit our clinic to learn more about how we can assist you in achieving your health goals.</p>